<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/indoor.png" alt="" />
    <ion-card-header >
      <ion-card-title><ion-button href="/indoor">Indoor</ion-button></ion-card-title>
    </ion-card-header>
    
  </ion-card>

  <ion-card>
    <img src="/assets/outdoor.png" alt="" />
    <ion-card-header>
      <ion-card-title><ion-button href="/outdoor">Outdoor</ion-button></ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
